<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auto_delete_messages_interval</key>
	<integer>0</integer>
	<key>default_privacy_level</key>
	<string>server</string>
	<key>blur_screen_when_enter_background</key>
	<false/>
	<key>show_server_features</key>
	<true/>
	<key>server_registration_url</key>
	<string></string>
	<key>afterburn_at_default</key>
	<true/>
	<key>use_yubikey</key>
	<false/>
	<key>support_jid</key>
	<string></string>
	<key>should_block_application_when_subscribtion_end</key>
	<false/>
	<key>show_text_logo</key>
	<true/>
	<key>bundle_id</key>
	<string></string>
	<key>push_bundle_id</key>
	<string></string>
	<key>time_signature_for_messages_period</key>
	<integer>1800</integer>
	<key>onboarding_subtitle_text</key>
	<string>Open source XMPP client</string>
	<key>app_name</key>
	<string>Xabber</string>
	<key>domain</key>
	<string></string>
	<key>allow_registration</key>
	<true/>
	<key>locked_host</key>
	<string></string>
	<key>allowed_hosts</key>
	<array>
		<string></string>
	</array>
	<key>supports_multiaccounts</key>
	<false/>
	<key>required_touch_id_or_password</key>
	<true/>
	<key>locked_conversation_type</key>
	<string>none</string>
	<key>avatar_masks</key>
	<array>
		<string>circle</string>
		<string>rounded</string>
		<string>square</string>
		<string>rounded_square</string>
		<string>star</string>
		<string>pentagon</string>
		<string>octagon</string>
	</array>
	<key>locked_avatar_mask</key>
	<string>rounded_square</string>
	<key>support_calls</key>
	<true/>
	<key>support_groupchats</key>
	<false/>
	<key>allow_conversations_from_all_hosts</key>
	<true/>
	<key>application_color</key>
	<string>red</string>
	<key>launch_screen_color</key>
	<string>red</string>
	<key>required_time_signature_for_messages</key>
	<false/>
	<key>motivating</key>
	<true/>
	<key>afterburn_default_interval</key>
	<integer>5</integer>
	<key>support_subscribtions</key>
	<false/>
	<key>locked_account_color</key>
	<string></string>
	<key>locked_background</key>
	<string></string>
	<key>interface_type</key>
	<string>split</string>
	<key>symbol_weight</key>
	<string>regular</string>
	<key>chat_avatar_size</key>
	<integer>32</integer>
	<key>use_large_title</key>
	<false/>
	<key>default_report_address</key>
	<string></string>
	<key>support_xabber_account</key>
	<true/>
	<key>xabber_account_url</key>
	<string></string>
	<key>xabber_account_api_url</key>
	<string></string>
	<key>skip_vcard_nickname_onboarding_step</key>
	<false/>
	<key>use_file_enryption_by_default</key>
	<false/>
</dict>
</plist>
