xabber/Info.plist
xabber/common_config.plist
xabber/credential_store.plist
xabber/push_service.plist
xabber/subscribtions_secret.plist
xabber/xabber.entitlements
xabber/XASettingsDebug.plist
xabber/subscribtions_secret.plist
xabber.xcworkspace
Pods
Podfile.lock
OptimizationProfiles
